svg {
	z-index: 0;
	overflow: visible;
	width: 100%;
	height: 100vh;
	position: fixed;
	background: black;
	color: white;
	fill: white;
	
	circle {
		opacity: .3;
	}
	
	.title {
		font-size: 24px;
	}
	
	.label {
		font-size: 22px;
	}
	
	.player {
		position: relative;
		overflow: visible;
		
		text {
			display: none;
			pointer-events: none;
		}
		
		.hover-state {
			position: relative;
			opacity: 0;
			cursor: pointer;
			
			&:hover+text {
				position: relative;
				display: block;
				z-index: -10;
				position: relative;
				z-index: -1000;
			}
		}
		
		circle {
			position: relative;
			fill: #91DDF2;
			opacity: .75;
			z-index: 1;
			
			&.top-ranked {
				fill: #1d2c30;
				stroke: #91ddf2;
				stroke-width: 2px;
			}
		}
	}
}