label.btn.btn-secondary,
label.btn.btn-secondary:focus,
label.btn.btn-secondary:active,
label.btn.btn-secondary.active,
label.btn.btn-secondary.active:focus,
label.btn.btn-secondary.active:active {
    box-shadow: none !important;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#map {
	width: 100%;
	height: 100vh;
}

.btn-group {
	position: fixed;
    bottom: 20px;
    left: 20px;
	z-index: 1000;
}

.btn-group label {
	cursor: pointer;
}