body {
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #DAE4E6;
}

svg {
	width: 100%;
	height: 100vh;
}

.link {
	stroke: #333C40;
	opacity: .5
}

.node {
	stroke: #333C40;
	stroke-width: 1;
	cursor: grab;
	opacity: .85;
}

.node:hover {
	stroke-width: 2;
}

.tooltip {
	background-color: white;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 3px;
	
	&:before {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #fff;
		position: absolute;
		left: 50%;
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		content: '';
		position: absolute;
		top: calc(100% - 3px);
	}
	
	h3 {
		margin: 0;
	}
}