body {
	font-family: "Open Sans";
}

#main {
	margin: 10px 20px;
}

.wrapper {
	columns: 2;
	padding-top: 20px;
}

.wrapper div {
	margin-bottom: 100px;
}

.wrapper div:first-child {
	margin-top: -20px;
}