/* Imports */
// This project uses inverted triangle CSS architecture (https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/)

body {
	padding: 0;
	margin: 0;
	
	font-family: 'Libre Baskerville', serif;
	font-family: 'Source Serif Pro', serif;
	font-weight: 600;
}

.activity {

    rect {
        fill: white;
        stroke-width: 1;
        stroke: black;
    }
    
    .line-plot {
        fill: none;
        stroke: black;
    }
}